<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.meituan.mapper.BusinessPositionMapper">

    <resultMap id="BaseResultMap" type="com.example.meituan.domain.BusinessPosition">
            <id property="address" column="address" jdbcType="VARCHAR"/>
            <result property="latitude" column="longitude" jdbcType="DOUBLE"/>
            <result property="longitude" column="latitude" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        address,latitude,longitude
    </sql>
</mapper>
