name: Deploy Server

on:
  push:
    branches:
      - main

jobs:
  develop_build:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取最新提交的代码
        uses: actions/checkout@v3

      - name: 设置jdk
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: 项目打包
        run: cd ./meituan_server && mvn -B package

      - name: 删除旧的jar包
        run: sshpass -p ${{secrets.REMOTE_PWD}} ssh -o StrictHostKeyChecking=no root@${{secrets.REMOTE_IP}} "cd /usr/local/meituan && rm -rf ./meituan_server-0.0.1-SNAPSHOT.jar"

      - name: 上传jar包到服务器中
        run: cd ./meituan_server && sshpass -p ${{secrets.REMOTE_PWD}} scp -r -o StrictHostKeyChecking=no ./target/meituan_server-0.0.1-SNAPSHOT.jar root@${{secrets.REMOTE_IP}}:/usr/local/meituan

      # - name: 启动项目
      #   run: sshpass -p ${{secrets.REMOTE_PWD}} ssh -o StrictHostKeyChecking=no root@${{secrets.REMOTE_IP}} "/usr/local/nodejs/nodejs16/bin/pm2 restart meituan_server"
