name: Sonarqube check

on:
  push:
    branches:
      - main

jobs:
  sonarQubeTrigger:
    name: SonarQube Check For meituan_server
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: SonarQube Scan
      uses: kitabisa/sonarqube-action@master
      with:
        host: ${{ secrets.SONARQUBE_HOST }}
        login: ${{ secrets.SONAR_SERVER_TOKEN }}
        projectBaseDir: "bigdata_practice/meituan_server"
